<div class='container px-5 px-sm-0'>
  <div class='row'>
    <div class='col-md-3'>
      <h2>User info</h2>
      <%= render 'info', user: @user %>
      <h2 class="mt-3">New book</h2>
      <%= render 'books/form', book: @book %>
    </div>
    <div class='col-md-8 offset-md-1'>
      <h2>Books</h2>
      <%= render 'books/index', books: @books %>
      <!--<h2>投稿数の前日比・前週比</h2>-->
      <h2>7日間分の投稿数</h2>
      <table class="table table-bordered">
        <%= render 'seven_days_books', books: @books, today_book: @today_book %>
      </table>
      <!--<table class="table table-bordered">日付ごとのテーブルに使ってたやつ</table>-->
      <%= line_chart @books.six_days_book %>
    </div>
  </div>
</div>
z